body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

p {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px minmax(100px, 1fr) 300px;
}

.container div {
  border: 1px solid black;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  
  body {
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, .5);
  }

}